Hi {{name}}, 

Your have successfully earned a bonus reward of ${{amount}}.

Here's your reward code, and be sure not to share it with anyone.

To claim your bonus reward, simply log into your account, and click on "Claim Bonus Rewards" on your dashboard.

Enter your reward code being {{code}}, and your bonus reward will be added to your account. 

Note: Do not try entering a used bonus reward as this will cause us to suspend your account, and do not try to use a bonus reward in a diffrent account as this will result in suspension of both accounts.

Thanks for choosing Quantum Finance.

Support Team,
Support@Quantumfinancecompany.com
